.tableContainer {
    flex: 1;
    background-color: var(--neutral-gray-50);
    border-radius: 16px;
    border: 1px solid var(--neutral-gray-300);
    border-radius: 24px;
    border-width: 1px;
    padding: 24px;
    gap: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sectionTitle {
    font-size: 24px;
    font-weight: 700;
    color: var(--neutral-grey-800);
    margin-bottom: 4px;
    margin-top: 0;
    line-height: 100%;
}

.sectionDescription {
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 16px;
    margin-top: 0;
    color: var(--neutral-grey-800);
}

.table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 16px;
    overflow-y: scroll;
    text-align: start;
}
.table th {
    font-size: 12px;
    padding: 16px 0;
    color: var(--neutral-grey-800);
    font-weight: 500;
    text-align: start;
}
.table td {
    padding: 8px 0;
    font-size: 14px;
    color: var(--neutral-grey-800);
}

.statusSuccess {
    background: var(--success);
    color: var(--neutral-grey-800);
    padding: 2px 10px;
    font-size: 0.9em;
    font-weight: 500;
    display: inline-block;
    text-align: center;
}

.statusWarning {
    background: var(--warning);
    color: var(--neutral-grey-800);
    padding: 2px 10px;
    font-size: 0.9em;
    font-weight: 500;
    display: inline-block;
    text-align: center;
}

.statusError {
    background: var(--error);
    color: var(--neutral-grey-800-contrast);
    padding: 2px 10px;
    font-size: 0.9em;
    font-weight: 500;
    display: inline-block;
    text-align: center;
}

.statusDefault {
    background: var(--neutral-gray-500);
    color: var(--neutral-grey-800-contrast);
    padding: 2px 10px;
    font-size: 0.9em;
    font-weight: 500;
    display: inline-block;

    text-align: center;
}

.statusBadge {
    border-radius: 9999px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
    padding-left: 8px;
}

.statusIcon {
    width: 20px;
    height: 20px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.statusIconOnly {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    margin: 0 auto;
}

.customerCell {
    font-weight: 700;
}
.customerEmail {
    font-size: 12px;
    color: var(--neutral-grey-800);
    font-weight: 500;
}

.amountCell {
    text-align: right;
    width: 100%;
    font-weight: 700;
}

thead {
    border-bottom: 1px solid var(--neutral-gray-300);
    position: sticky;
    top: 0;
    background: var(--neutral-gray-50);
}

.tableScroll {
    overflow-y: auto;
    max-height: 60vh;
    width: 100%;
}

.statusText {
    display: inline;
}

.table tr:not(:last-child) {
    border-bottom: 1px solid var(--neutral-gray-200);
}

@media (max-width: 600px) {
    .table th,
    .table td {
        font-size: 0.85em;
        padding: 4px;
    }
    .statusBadge {
        font-size: 0.8em;
        padding-top: 2px;
        padding-bottom: 2px;
        padding-left: 6px;
        padding-right: 6px;
    }
    .statusIcon {
        width: 16px;
        height: 16px;
    }
    .customerCell {
        font-weight: 500;
    }
}
