.layout-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.layout-container > aside,
.layout-container > nav,

.main-content {
    display: flex;
    flex: 1;
    padding: 2rem;
    overflow-y: auto;
    background: var(--background);
}

